{% extends "base.html" %}

{% block content %}
  <div id="pick_order" class="topBar">
    
  </div>
  <div id="main_container">
    <current-selected-player id="selected_player" class="topBar"></current-selected-player>
    <div id="draftable_players">
      <table id="draftable_players_table">
        <tr>
          <th>RANK</th>
          <th>PLAYER</th>
          <th>TEAM</th>
          <th>POS</th>
          <th>BYE</th>
          <th>PTS</th>
          <th>REC</th>
          <th>REYD</th>
          <th>RUSH</th>
          <th>RUYD</th>
          <th>ATT</th>
          <th>PAYD</th>
        </tr>
        <player
          v-for="player in players"
          v-bind:key="player.id"
          v-bind:info="player.info"> 
        </player>
      </table>
    </div>
    <div id="pick_history" class="rightSidebar">
      <h4>Pick History</h4>
      <table>
        <tr>
          <th>PK</th>
          <th>Player</th>
        </tr>
        <picked-player
          v-for="picked-player in picked-players"
          v-bind:key="picked-player.id"
          v-bind:info="player.info">
        </picked-player>
      </table>
    </div>
  </div>
  <div id="draft_results" class="rightSidebar">
    <h4>Draft Results</h4>
    <table>
      <tr>
        <th>POS</th>
        <th>Player</th>
        <th>Bye</th>
      </tr>
      <current-team-player
        v-for="current-team-player in current-team.players"
        v-bind:key="current-team-player.id"
        v-bind:info="player.info">
      </current-team-player>
    </table>
  </div>
{% endblock %}